[Unit]
Description=OAP SpamAssassin training service
After=network.target

[Service]
Type=simple
User=netgate
ExecStart=/usr/local/bin/oap-salearn
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=oap-salearn

[Install]
WantedBy=multi-user.target
