[Unit]
Description=OAP SpamAssassin training service (%i)
After=network.target

[Service]
Type=simple
User=%i
ExecStart=/usr/local/bin/oap-salearn --user %i --port 8307
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=oap-salearn-%i

[Install]
WantedBy=multi-user.target
